.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}
 
.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 0.5px;
}
 
.node text {
  font-size:8px; 
  font-family:sans-serif;
}

.node percentComplete {
  font-size:10px; 
  font-family:sans-serif;
}


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

.hidden {
        display: none;
}

.node rect {
  fill: none;
   stroke: black;
   stroke-width: 0.5px;
}

ul, ol, dl {
	font-size: 1.5em; 
}

.navbar-inverse .navbar-nav>li>a {
	color: white !important;
}

.navbar-inverse .navbar-brand {
	color: white !important;
	font-size: 1.5em;
}